Repository dreyliky/angular-community-ua-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint **/*.ts --fix

chore: lintstage config
  .lintstagedrc
Due: none

chore: prettier config
  .prettierrc
Due: none

feat: add github integrate yml
  .github/workflows/integrate.yml
Due: none

chore: code-review text
  apps/host/src/app/app.component.html
Due: none

chore: github workflow
  .github/workflows/integrate.yml
Due: none

fix: projects by eslint
  .eslintignore
  .eslintrc.json
  apps/code-review-e2e/src/e2e/app.cy.ts
  apps/code-review-e2e/src/support/commands.ts
  apps/code-review/project.json
  apps/host-e2e/src/e2e/app.cy.ts
  apps/host-e2e/src/support/commands.ts
  apps/host/project.json
  package.json
Due: eslint **/*.ts --fix

feat: github workflow deploy yml
  .github/workflows/deploy.yml
  .github/workflows/integrate.yml
Due: none

fix: github workflow configs
  .github/workflows/deploy.yml
  .github/workflows/integrate.yml
Due: none

feat: add firebase config
  .firebaserc
  firebase.json
Due: none

chore: github workflow & firebase config
  .firebaserc
  .github/workflows/deploy.yml
  .github/workflows/firebase-hosting-merge.yml
  firebase.json
Due: none

chore: firebase configs
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  firebase.json
Due: none

feat: add host webpack prod remote url
  apps/host/webpack.prod.config.js
Due: none

chore: firebase config
  firebase.json
Due: none

chore: github workflow configs
  .firebaserc
  .github/workflows/firebase-hosting-merge-dev.yml
  .github/workflows/firebase-hosting-merge-main.yml
Due: none

chore: github workflow
  .firebase/hosting.ZGlzdFxhcHBzXGNvZGUtcmV2aWV3.cache
  .firebase/hosting.ZGlzdFxhcHBzXGhvc3Q.cache
  .firebaserc
  .github/workflows/firebase-hosting-merge-dev.yml
  .github/workflows/firebase-hosting-merge-main.yml
Due: none

chore: github workflow
  .github/workflows/firebase-hosting-merge-dev.yml
Due: none

fix: github workflow configs
  .eslintrc.json
  .github/workflows/firebase-hosting-merge-dev.yml
  .github/workflows/firebase-hosting-merge-main.yml
  .prettierrc
  .vscode/settings.json
  apps/host/project.json
  apps/host/src/app/app.component.html
  apps/host/webpack.dev.config.js
Due: none

fix: stylelint config
  .stylelintrc.json
  apps/host/src/app/app.component.scss
Due: stylelint --fix

chore: github workflow config
  .github/workflows/firebase-hosting-merge-dev.yml
  .github/workflows/firebase-hosting-merge-main.yml
  apps/code-review/project.json
  apps/host/project.json
Due: none

fix: host project.json
  apps/host/project.json
Due: none

refactor: github workflow configs
  .github/workflows/firebase-hosting-merge-dev.yml
  .github/workflows/firebase-hosting-merge-main.yml
  .github/workflows/integrate.yml
Due: none

feat: add vscode recommended extensions
  .vscode/extensions.json
Due: none

chore: cspell config
  cspell.json
Due: none

feat(host): created basicall navigation, home,auth pages and enums
  apps/host/src/app/app.component.html
  apps/host/src/app/app.routes.ts
  apps/host/src/app/core/enums/app-route.enum.ts
  apps/host/src/app/pages/auth/acua-auth.component.css
  apps/host/src/app/pages/auth/acua-auth.component.html
  apps/host/src/app/pages/auth/acua-auth.component.ts
  apps/host/src/app/pages/auth/auth.module.ts
  apps/host/src/app/pages/auth/auth.routes.ts
  apps/host/src/app/pages/home/acua-home.component.css
  apps/host/src/app/pages/home/acua-home.component.html
  apps/host/src/app/pages/home/acua-home.component.ts
  apps/host/src/app/pages/home/enums/home-route.enum.ts
  apps/host/src/app/pages/home/home.module.ts
  apps/host/src/app/pages/home/home.routes.ts
Due: eslint **/*.ts --fix

fix(host): by pr deleted unuse enum path, added wildcard path, Change detection stratagy to onPush
  apps/host/src/app/app.component.html
  apps/host/src/app/pages/auth/acua-auth.component.ts
  apps/host/src/app/pages/auth/auth.routes.ts
  apps/host/src/app/pages/home/acua-home.component.ts
  apps/host/src/app/pages/home/home.routes.ts
Due: eslint **/*.ts --fix

feat(host): prepared main path aliases
  apps/host/tsconfig.json
Due: none

chore(host): i added / before src
  apps/host/tsconfig.json
Due: none

feat(code review): prepared main path aliases
  apps/code-review/tsconfig.json
Due: none

feat(host): prepared main path aliases
  apps/code-review/tsconfig.json
Due: none

feat(host): prepared main path aliases in ts config
  apps/host/tsconfig.json
Due: none

fix(host): by pr fixed incorrect names of constant and deleted prefix in nx.json file
  apps/host/src/app/app.module.ts
  apps/host/src/app/app.routes.ts
  apps/host/src/app/pages/auth/auth.module.ts
  apps/host/src/app/pages/auth/auth.routes.ts
  apps/host/src/app/pages/home/home.module.ts
  apps/host/src/app/pages/home/home.routes.ts
  nx.json
Due: eslint **/*.ts --fix

feat(code review): implemented basic pages for code review app
  apps/code-review/src/app/app.module.ts
  apps/code-review/src/app/app.routing.ts
  apps/code-review/src/app/core/enums/app-route-enum.ts
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/list/list.component.scss
  apps/code-review/src/app/pages/list/list.component.ts
  apps/code-review/src/app/pages/list/list.module.ts
  apps/code-review/src/app/pages/list/list.routing.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/pages/overview/overview.routing.ts
  apps/code-review/src/app/pages/request/request.component.html
  apps/code-review/src/app/pages/request/request.component.scss
  apps/code-review/src/app/pages/request/request.component.ts
  apps/code-review/src/app/pages/request/request.module.ts
  apps/code-review/src/app/pages/request/request.routing.ts
  apps/code-review/src/app/remote-entry/entry.module.ts
  nx.json
Due: stylelint --fix, eslint **/*.ts --fix

feat(code review): change naming on routes files and enum namings
  apps/code-review/src/app/app.module.ts
  apps/code-review/src/app/app.routes.ts
  apps/code-review/src/app/app.routing.ts
  apps/code-review/src/app/core/enums/app-route-enum.ts
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/list/list.module.ts
  apps/code-review/src/app/pages/list/list.routes.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/pages/overview/overview.routes.ts
  apps/code-review/src/app/pages/request/request.module.ts
  apps/code-review/src/app/pages/request/request.routes.ts
  apps/code-review/src/app/remote-entry/entry.component.ts
  apps/code-review/src/app/remote-entry/entry.module.ts
  apps/code-review/src/app/remote-entry/entry.routes.ts
  apps/code-review/src/app/remote-entry/entry.routing.ts
Due: eslint **/*.ts --fix

feat(host): created header component
  apps/host/src/app/pages/home/acua-home.component.html
  apps/host/src/app/pages/home/components/header/acua-header.component.html
  apps/host/src/app/pages/home/components/header/acua-header.component.scss
  apps/host/src/app/pages/home/components/header/acua-header.component.ts
  apps/host/src/app/pages/home/components/header/header-user/acua-header-user.component.html
  apps/host/src/app/pages/home/components/header/header-user/acua-header-user.component.scss
  apps/host/src/app/pages/home/components/header/header-user/acua-header-user.component.ts
  apps/host/src/app/pages/home/components/header/header-user/header-user-menu/acua-header-menu.component.html
  apps/host/src/app/pages/home/components/header/header-user/header-user-menu/acua-header-menu.component.scss
  apps/host/src/app/pages/home/components/header/header-user/header-user-menu/acua-header-menu.component.ts
  apps/host/src/app/pages/home/components/header/header.module.ts
  apps/host/src/app/pages/home/home.module.ts
  apps/host/src/assets/header/logo.png
Due: stylelint --fix, eslint **/*.ts --fix

feat: add implicit dependencies to configs
  apps/code-review/project.json
  apps/host/project.json
Due: none

fix: remove test mat button
  apps/host/src/app/app.component.html
  apps/host/src/app/app.component.scss
  apps/host/src/app/app.module.ts
Due: stylelint --fix, eslint **/*.ts --fix

Path conditions:
  stylelint --fix: any of: *.scss
  eslint **/*.ts --fix: any of: ./**/*.ts
