Repository dreyliky/angular-community-ua-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

.lintstagedrc:

{
    "**/*.html": ["npx prettier **/*.html --write", "git add"],
    "**/*.scss": [
        "npx prettier **/*.scss --write",
        "stylelint --fix",
        "git add"
    ],
    "**/*.ts": [
        "npx prettier **/*.ts --write",
        "eslint **/*.ts --fix",
        "git add"
    ]
}

fix(shared-lib): linter settings
  libs/shared/project.json
Due: none

feat: add markdown-it types for typescript
  package-lock.json
  package.json
Due: none

chore(code-review): changes in prettier, packages, code
  .prettierrc
  libs/shared/src/lib/components/markdown/components/markdown-editor/interfaces/markdown-data.interface.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.html
  libs/shared/src/lib/components/markdown/components/markdown-previewer/markdown-previewer.component.html
  libs/shared/src/lib/components/markdown/markdown.module.ts
  package-lock.json
  package.json
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): changed module name
  apps/code-review/src/app/pages/list/list.module.ts
  libs/shared/src/lib/components/markdown/markdown.module.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): markdown button
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/bold-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/header-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/italic-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/components/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/components/markdown-editor-button.components.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/data/markdown-data.array.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/directives/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/directives/mardown-editor-selection.directive.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/interfaces/markdown-button.interface.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.html
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.ts
  libs/shared/src/lib/components/markdown/markdown.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): markdown button
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.html
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(code-review): file explorer adaptivity
  .lintstagedrc
  apps/code-review/src/app/pages/overview/components/header/header.component.html
  apps/code-review/src/app/pages/overview/components/header/header.component.scss
  apps/code-review/src/app/pages/overview/components/header/header.component.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): refactoring
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/pages/overview/overview.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): refactoring
  apps/code-review/src/app/pages/overview/components/header/header.component.html
  apps/code-review/src/app/pages/overview/components/header/header.component.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/pages/overview/overview.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): refactoring
  apps/code-review/src/app/pages/overview/components/header/header.component.html
Due: npx prettier **/*.html --write

feat(code-review): increase items,add missing icons
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  libs/assets/src/lib/icons/file-explorer/folder-css-open.svg
  libs/assets/src/lib/icons/file-explorer/folder-css.svg
  libs/assets/src/lib/icons/file-explorer/folder-images-open.svg
  libs/assets/src/lib/icons/file-explorer/folder-images.svg
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): changing the name of variables and adding a getter
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): markdown code refactoring, deleted extra packages
  libs/shared/package-lock.json
  libs/shared/package.json
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/bold-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/header-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/italic-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/components/markdown-editor-button.component.html
  libs/shared/src/lib/components/markdown/components/markdown-editor/components/markdown-editor-button.components.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/data/markdown-data.array.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/directives/mardown-editor-selection.directive.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/functions/get-markdown-syntax.function.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/functions/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/interfaces/markdown-button.interface.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.html
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/types/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/types/markdown-icon-name.type.ts
  libs/shared/src/lib/components/markdown/markdown.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): edits by pr comments
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/bold-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/header-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/italic-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/components/markdown-editor-button.component.html
  libs/shared/src/lib/components/markdown/components/markdown-editor/components/markdown-editor-button.components.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/data/markdown-data.array.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/directives/mardown-editor-selection.directive.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/enums/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/enums/markdown-action.enum.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/interfaces/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/interfaces/markdown-button.interface.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.html
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat: assign login functionality with backend
  .prettierrc
  apps/host/src/app/app.module.ts
  apps/host/src/app/core/index.ts
  apps/host/src/app/core/providers/index.ts
  apps/host/src/app/core/providers/main-backend-url.provider.ts
  apps/host/src/app/pages/auth/acua-auth.component.html
  apps/host/src/app/pages/auth/acua-auth.component.scss
  apps/host/src/app/pages/auth/acua-auth.component.ts
  apps/host/src/app/pages/auth/auth.module.ts
  apps/host/src/app/pages/auth/components/index.ts
  apps/host/src/app/pages/auth/components/login/index.ts
  apps/host/src/app/pages/auth/components/login/login.component.html
  apps/host/src/app/pages/auth/components/login/login.component.scss
  apps/host/src/app/pages/auth/components/login/login.component.ts
  apps/host/src/app/pages/auth/directives/login-widget.directive.ts
  apps/host/src/app/pages/auth/services/index.ts
  apps/host/src/app/pages/auth/services/login-error-handler.service.ts
  apps/host/src/app/shared/interfaces/index.ts
  apps/host/src/environments/environment.development.ts
  apps/host/src/environments/environment.local.ts
  apps/host/src/environments/environment.ts
  libs/shared/src/lib/features/auth/api/index.ts
  libs/shared/src/lib/features/auth/api/login.api.ts
  libs/shared/src/lib/features/auth/index.ts
  libs/shared/src/lib/features/auth/interfaces/index.ts
  libs/shared/src/lib/features/auth/interfaces/login-response-dto.interface.ts
  libs/shared/src/lib/features/auth/interfaces/telegram-login-dto.interface.ts
  libs/shared/src/lib/features/auth/services/bearer-token.service.ts
  libs/shared/src/lib/features/auth/services/index.ts
  libs/shared/src/lib/features/auth/services/login.service.ts
  libs/shared/src/lib/index.ts
  libs/shared/src/lib/services/storage.service.ts
  libs/shared/src/lib/tokens/index.ts
  libs/shared/src/lib/tokens/main-backend-url.token.ts
  tsconfig.base.json
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: remove console logs
  apps/code-review/src/app/pages/list/components/all-requests/all-requests.component.ts
  apps/host/src/app/pages/auth/services/login-error-handler.service.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: change backend urls to https
  apps/code-review/project.json
  apps/code-review/src/environments/environment.development.ts
  apps/code-review/src/environments/environment.local.ts
  apps/code-review/src/environments/environment.ts
  apps/host/src/environments/environment.development.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

feat: move telegram login widget to header
  apps/host/src/app/app.routes.ts
  apps/host/src/app/core/enums/app-route.enum.ts
  apps/host/src/app/pages/auth/acua-auth.component.html
  apps/host/src/app/pages/auth/acua-auth.component.scss
  apps/host/src/app/pages/auth/auth.module.ts
  apps/host/src/app/pages/auth/auth.routes.ts
  apps/host/src/app/pages/home/components/header/components/index.ts
  apps/host/src/app/pages/home/components/header/components/login-button/index.ts
  apps/host/src/app/pages/home/components/header/components/login-button/login-button.component.html
  apps/host/src/app/pages/home/components/header/components/login-button/login-button.component.scss
  apps/host/src/app/pages/home/components/header/components/login-button/login-button.component.ts
  apps/host/src/app/pages/home/components/header/components/user-menu/index.ts
  apps/host/src/app/pages/home/components/header/components/user-menu/user-menu.component.html
  apps/host/src/app/pages/home/components/header/components/user-menu/user-menu.component.scss
  apps/host/src/app/pages/home/components/header/components/user-menu/user-menu.component.ts
  apps/host/src/app/pages/home/components/header/directives/index.ts
  apps/host/src/app/pages/home/components/header/directives/login-widget.directive.ts
  apps/host/src/app/pages/home/components/header/header.module.ts
  apps/host/src/app/pages/home/components/header/login-button/login-button.component.html
  apps/host/src/app/pages/home/components/header/login-button/login-button.component.scss
  apps/host/src/app/pages/home/components/header/login-button/login-button.component.ts
  apps/host/src/app/pages/home/components/header/services/index.ts
  apps/host/src/app/pages/home/components/header/services/login-error-handler.service.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat: change review request table to cards
  apps/code-review/src/app/pages/list/components/all-requests/all-requests.component.html
  apps/code-review/src/app/pages/list/components/all-requests/all-requests.component.ts
  apps/code-review/src/app/pages/list/components/historical-requests/historical-requests.component.html
  apps/code-review/src/app/pages/list/components/historical-requests/historical-requests.component.ts
  apps/code-review/src/app/pages/list/components/index.ts
  apps/code-review/src/app/pages/list/components/my-requests/my-requests.component.html
  apps/code-review/src/app/pages/list/components/my-requests/my-requests.component.scss
  apps/code-review/src/app/pages/list/components/my-requests/my-requests.component.ts
  apps/code-review/src/app/pages/list/components/requests-table/index.ts
  apps/code-review/src/app/pages/list/components/requests-table/requests-table.component.html
  apps/code-review/src/app/pages/list/components/requests-table/requests-table.component.scss
  apps/code-review/src/app/pages/list/components/requests-table/requests-table.component.ts
  apps/code-review/src/app/pages/list/components/review-request-card/index.ts
  apps/code-review/src/app/pages/list/components/review-request-card/review-request-card.component.html
  apps/code-review/src/app/pages/list/components/review-request-card/review-request-card.component.scss
  apps/code-review/src/app/pages/list/components/review-request-card/review-request-card.component.ts
  apps/code-review/src/app/pages/list/list.component.scss
  apps/code-review/src/app/pages/list/list.module.ts
  apps/code-review/src/app/pages/list/styles/request-styles.scss
  apps/code-review/src/app/shared/api/index.ts
  apps/code-review/src/app/shared/api/review-requests.api.ts
  apps/code-review/src/app/shared/interfaces/code-review-request.interface.ts
  apps/code-review/src/app/shared/services/index.ts
  apps/code-review/src/app/shared/services/review-requests.service.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): refactoring by pr comments
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/bold-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/header-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/italic-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/components/markdown-editor-button.component.html
  libs/shared/src/lib/components/markdown/components/markdown-editor/directives/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/directives/mardown-editor-selection.directive.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/directives/markdown-editor-input.directive.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/interfaces/markdown-button.interface.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.html
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.scss
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.ts
  libs/shared/src/lib/components/markdown/markdown.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

fix(code-review): fixed bugs with markdown
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/header-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/directives/markdown-editor-input.directive.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

docs: update readme
  README.md
Due: none

feat(code-review): add loader for overview page
  apps/code-review/src/app/pages/overview/components/loader/loader.component.html
  apps/code-review/src/app/pages/overview/components/loader/loader.component.scss
  apps/code-review/src/app/pages/overview/components/loader/loader.component.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/pages/overview/overview.routes.ts
  apps/code-review/src/app/pages/overview/resolvers/index.ts
  apps/code-review/src/app/pages/overview/resolvers/source-code.resolver.ts
  apps/code-review/src/app/pages/overview/services/dependencies.service.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat: update dependencies to last versions; feat: serve at local env; fix: live reload while run several projects;
  .eslintignore
  apps/code-review/jest.config.ts
  apps/code-review/project.json
  apps/host/jest.config.ts
  apps/host/project.json
  jest.preset.js
  libs/assets/jest.config.ts
  libs/shared/jest.config.ts
  package-lock.json
  package.json
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): refactoring by pr comments
  apps/code-review/src/app/pages/list/components/markdown/index.ts
  apps/code-review/src/app/pages/list/components/markdown/markdown.component.html
  apps/code-review/src/app/pages/list/components/markdown/markdown.component.scss
  apps/code-review/src/app/pages/list/list.module.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/bold-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/header-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/italic-button.class.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/classes/markdown-button.classes.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/data/markdown-data.array.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/directives/markdown-editor-input.directive.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/enums/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/enums/markdown-action.enum.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/interfaces/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/interfaces/markdown-button.interface.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/interfaces/markdown-syntax-sides.interface.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.html
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.scss
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.ts
  libs/shared/src/lib/components/markdown/components/markdown-previewer/markdown-previewer.component.html
  libs/shared/src/lib/components/markdown/components/markdown-previewer/markdown-previewer.component.ts
  libs/shared/src/lib/components/markdown/components/markdown-toggler/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-toggler/markdown-toggler.component.html
  libs/shared/src/lib/components/markdown/components/markdown-toggler/markdown-toggler.component.scss
  libs/shared/src/lib/components/markdown/components/markdown-toggler/markdown-toggler.component.ts
  libs/shared/src/lib/components/markdown/index.ts
  libs/shared/src/lib/components/markdown/markdown.component.html
  libs/shared/src/lib/components/markdown/markdown.component.scss
  libs/shared/src/lib/components/markdown/markdown.component.ts
  libs/shared/src/lib/components/markdown/markdown.module.ts
  libs/shared/src/lib/components/markdown/states/index.ts
  libs/shared/src/lib/components/markdown/states/markdown-input.state.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

Delete package-lock.json
  package-lock.json
Due: none

Delete package.json
  package.json
Due: none

chore(code-review): moved loader, used :host
  apps/code-review/src/app/pages/overview/components/loader/loader.component.html
  apps/code-review/src/app/pages/overview/components/loader/loader.component.scss
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/pages/overview/services/dependencies.service.ts
  apps/code-review/src/app/pages/overview/services/index.ts
  libs/shared/src/index.ts
  libs/shared/src/loader/loader.component.html
  libs/shared/src/loader/loader.component.scss
  libs/shared/src/loader/loader.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

fix(shared): library linter
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  libs/shared/project.json
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): change name,LoaderModule, index.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  libs/shared/src/index.ts
  libs/shared/src/lib/index.ts
  libs/shared/src/lib/modules/index.ts
  libs/shared/src/lib/modules/loader/index.ts
  libs/shared/src/lib/modules/loader/loader.component.html
  libs/shared/src/lib/modules/loader/loader.component.scss
  libs/shared/src/lib/modules/loader/loader.component.ts
  libs/shared/src/lib/modules/loader/loader.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

fix: load project information at overview page
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/pages/overview/providers/index.ts
  apps/code-review/src/app/pages/overview/providers/source-code.provider.ts
  apps/code-review/src/app/pages/overview/services/dependencies.service.ts
  apps/code-review/src/app/pages/overview/states/index.ts
  apps/code-review/src/app/pages/overview/states/project-entities.state.ts
  apps/code-review/src/app/pages/overview/tokens/index.ts
  apps/code-review/src/app/pages/overview/tokens/source-code.token.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat: add prod flag in environments
  apps/code-review/src/environments/environment.development.ts
  apps/code-review/src/environments/environment.local.ts
  apps/code-review/src/environments/environment.ts
  apps/host/src/environments/environment.development.ts
  apps/host/src/environments/environment.local.ts
  apps/host/src/environments/environment.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

feat: add dynamic mobile adaptation
  apps/code-review/project.json
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/list/list.component.ts
  apps/code-review/src/app/pages/list/list.module.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/header/header.component.html
  apps/code-review/src/app/pages/overview/components/header/header.component.ts
  apps/code-review/src/app/pages/overview/components/header/header.module.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/host/project.json
  libs/assets/src/lib/styles/index.scss
  libs/assets/src/lib/styles/mixins.scss
  libs/shared/src/lib/modules/action-button/action-button.component.html
  libs/shared/src/lib/modules/action-button/action-button.component.ts
  libs/shared/src/lib/modules/action-button/action-button.module.ts
  libs/shared/src/lib/modules/index.ts
  libs/shared/src/lib/modules/screen/directives/available-for-screen.directive.ts
  libs/shared/src/lib/modules/screen/directives/index.ts
  libs/shared/src/lib/modules/screen/index.ts
  libs/shared/src/lib/modules/screen/screen.module.ts
  libs/shared/src/lib/modules/screen/services/index.ts
  libs/shared/src/lib/modules/screen/services/screen.service.ts
  package-lock.json
  package.json
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(shared): relocate user & auth modules
  libs/shared/src/lib/features/index.ts
  libs/shared/src/lib/index.ts
  libs/shared/src/lib/modules/auth/api/index.ts
  libs/shared/src/lib/modules/auth/api/login.api.ts
  libs/shared/src/lib/modules/auth/auth.module.ts
  libs/shared/src/lib/modules/auth/index.ts
  libs/shared/src/lib/modules/auth/interceptors/bearer-token.interceptor.ts
  libs/shared/src/lib/modules/auth/interceptors/index.ts
  libs/shared/src/lib/modules/auth/interfaces/index.ts
  libs/shared/src/lib/modules/auth/interfaces/login-response-dto.interface.ts
  libs/shared/src/lib/modules/auth/interfaces/telegram-login-dto.interface.ts
  libs/shared/src/lib/modules/auth/services/auth.service.ts
  libs/shared/src/lib/modules/auth/services/bearer-token.service.ts
  libs/shared/src/lib/modules/auth/services/index.ts
  libs/shared/src/lib/modules/auth/services/login.service.ts
  libs/shared/src/lib/modules/auth/services/urls-with-auth.service.ts
  libs/shared/src/lib/modules/auth/states/index.ts
  libs/shared/src/lib/modules/auth/states/urls-with-auth.state.ts
  libs/shared/src/lib/modules/index.ts
  libs/shared/src/lib/modules/user/api/index.ts
  libs/shared/src/lib/modules/user/api/user.api.ts
  libs/shared/src/lib/modules/user/components/index.ts
  libs/shared/src/lib/modules/user/components/user-avatar/index.ts
  libs/shared/src/lib/modules/user/components/user-avatar/user-avatar.component.scss
  libs/shared/src/lib/modules/user/components/user-avatar/user-avatar.component.ts
  libs/shared/src/lib/modules/user/components/user-avatar/user-avatar.module.ts
  libs/shared/src/lib/modules/user/index.ts
  libs/shared/src/lib/modules/user/interfaces/index.ts
  libs/shared/src/lib/modules/user/interfaces/user.interface.ts
  libs/shared/src/lib/modules/user/services/index.ts
  libs/shared/src/lib/modules/user/services/user.service.ts
  libs/shared/src/lib/modules/user/states/index.ts
  libs/shared/src/lib/modules/user/states/user.state.ts
Due: npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(code-review): improve overview page
  apps/code-review/src/app/pages/list/components/review-request-card/review-request-card.component.html
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/list/list.component.scss
  apps/code-review/src/app/pages/list/list.component.ts
  apps/code-review/src/app/pages/overview/components/header/header.component.html
  apps/code-review/src/app/pages/overview/components/header/header.component.scss
  apps/code-review/src/app/pages/overview/components/header/header.component.ts
  apps/code-review/src/app/pages/overview/components/header/header.module.ts
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.html
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.ts
  apps/code-review/src/app/pages/overview/facades/dependencies.facade.ts
  apps/code-review/src/app/pages/overview/facades/index.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/services/index.ts
  apps/code-review/src/app/pages/overview/states/index.ts
  apps/code-review/src/app/pages/overview/states/opened-review-request.state.ts
  apps/code-review/src/app/pages/request/request.component.html
  apps/code-review/src/app/pages/request/request.component.scss
  apps/code-review/src/app/pages/request/request.component.ts
  apps/code-review/src/app/shared/api/review-request.api.ts
  apps/code-review/src/app/shared/services/review-request.service.ts
  apps/code-review/src/index.html
  apps/host/src/index.html
  libs/assets/src/lib/styles/acua-material-theme.scss
  libs/assets/src/lib/styles/components/index.scss
  libs/assets/src/lib/styles/components/page.scss
  libs/assets/src/lib/styles/index.scss
  libs/assets/src/lib/styles/mixins.scss
  libs/assets/src/lib/styles/mixins/screen.scss
  libs/shared/src/lib/modules/index.ts
  libs/shared/src/lib/modules/utils/directives/index.ts
  libs/shared/src/lib/modules/utils/directives/let.directive.ts
  libs/shared/src/lib/modules/utils/index.ts
  libs/shared/src/lib/modules/utils/utils.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix
