Repository dreyliky/angular-community-ua-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

.lintstagedrc:

{
    "**/*.html": ["npx prettier **/*.html --write", "git add"],
    "**/*.scss": [
        "npx prettier **/*.scss --write",
        "stylelint --fix",
        "git add"
    ],
    "**/*.ts": [
        "npx prettier **/*.ts --write",
        "eslint **/*.ts --fix",
        "git add"
    ]
}

feat(code-review): add header overview page
  apps/code-review/src/app/pages/overview/components/header/header.component.html
  apps/code-review/src/app/pages/overview/components/header/header.component.scss
  apps/code-review/src/app/pages/overview/components/header/header.component.ts
  apps/code-review/src/app/pages/overview/components/header/header.module.ts
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/index.ts
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.html
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.scss
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/pages/overview/overview.module.ts
  package-lock.json
  package.json
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat: code-review as project dev remote for host
  apps/host/project.json
Due: none

refactor(code-review): separate editor style logic into small ones
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments-amount/comments-amount.component.html
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments-amount/comments-amount.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments-amount/comments-amount.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/cursor-style.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-comments-amount.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-highlighter.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/helpers/check-line.helper.ts
  apps/code-review/src/app/pages/overview/components/code-editor/helpers/index.ts
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/styles.scss
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

fix(code-review): resolve merge conflict
  apps/code-review/src/app/core/interfaces/acua-window.interface.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): delete monaco editor directive
  apps/code-review/src/app/pages/overview/directives/index.ts
  apps/code-review/src/app/pages/overview/directives/monaco-editor.directive.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(code-review): add highlighting to line & change the way comments are applied to lines
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.module.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments-amount/comments-amount.component.html
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments-amount/comments-amount.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-comments-amount.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-highlighter.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/helpers/check-line.helper.ts
  apps/code-review/src/app/pages/overview/components/code-editor/interfaces/editor-comment.interface.ts
  apps/code-review/src/app/pages/overview/components/code-editor/interfaces/index.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(code-review): add file selected event & update file-expolorer interface
  apps/code-review/src/app/pages/overview/apis/index.ts
  apps/code-review/src/app/pages/overview/apis/source-code.api.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/services/file-selection.service.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/services/index.ts
  apps/code-review/src/app/pages/overview/enums/index.ts
  apps/code-review/src/app/pages/overview/enums/monaco-tree-node-type.enum.ts
  apps/code-review/src/app/pages/overview/interfaces/index.ts
  apps/code-review/src/app/pages/overview/interfaces/monaco-tree-node.interface.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat: change host for host application
  apps/host/project.json
Due: none

fix: project-json of host application
  apps/host/project.json
Due: none

refactor(code-review): change the way components are created
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-comments-amount.directive.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(code-review): add visual style selection & context under file name
  apps/code-review/src/app/pages/overview/apis/source-code.api.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): change event for node
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): change method name & set null instead of undefined
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

fix: project by prettier rules
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.module.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: test
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-comments-amount.directive.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: remove excess code
  apps/code-review/src/app/pages/overview/components/code-editor/models/line-decoration.model.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): changes according to code editor interface
  apps/code-review/src/app/pages/overview/apis/index.ts
  apps/code-review/src/app/pages/overview/apis/source-code.api.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/enums/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/enums/monaco-tree-node-type.enum.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/interfaces/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/interfaces/monaco-tree-node.interface.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/services/file-selection.service.ts
  apps/code-review/src/app/pages/overview/enums/overview-data-param.enum.ts
  apps/code-review/src/app/pages/overview/interfaces/monaco-tree-node.interface.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/pages/overview/overview.routes.ts
  apps/code-review/src/app/pages/overview/resolvers/index.ts
  apps/code-review/src/app/pages/overview/resolvers/source-code.resolver.ts
  apps/code-review/src/app/shared/api/project-source-url.api.ts
  apps/code-review/src/app/shared/api/review-request-comments.api.ts
  apps/code-review/src/app/shared/services/project-source-url.service.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

perf(code-review): optimize icon loading
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/states/file-explorer-depth.state.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/states/index.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): add unsubscribe decorator instead of takeuntil & add readonly to interfaca fields
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/interfaces/monaco-tree-node.interface.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): import path
  apps/code-review/src/app/shared/api/project-source-url.api.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): make selection service and depth state local
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.module.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/services/file-selection.service.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/states/file-explorer-depth.state.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): changing imports, styles, adding a directive
  apps/code-review/src/app/pages/overview/components/header/header.component.html
  apps/code-review/src/app/pages/overview/components/header/header.component.scss
  apps/code-review/src/app/pages/overview/components/header/header.component.ts
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.html
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.scss
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.ts
  apps/code-review/src/app/pages/overview/components/index.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): changing conditions and styles and removing functions
  apps/code-review/src/app/pages/overview/components/header/header.component.html
  apps/code-review/src/app/pages/overview/components/header/header.component.scss
  apps/code-review/src/app/pages/overview/components/header/header.component.ts
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

fix: package-lock json
  package-lock.json
Due: none

chore(code-review): changes to comments
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/enums/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.module.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/interfaces/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/services/file-selection.service.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/services/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/states/file-selection.state.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/states/index.ts
  apps/code-review/src/app/pages/overview/enums/overview-data-param.enum.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.routes.ts
  apps/code-review/src/app/pages/overview/providers/index.ts
  apps/code-review/src/app/pages/overview/providers/source-code.provider.ts
  apps/code-review/src/app/pages/overview/resolvers/source-code.resolver.ts
  apps/code-review/src/app/pages/overview/tokens/index.ts
  apps/code-review/src/app/pages/overview/tokens/source-code.token.ts
  apps/code-review/src/app/shared/api/project-source-url.api.ts
  apps/code-review/src/app/shared/enums/index.ts
  apps/code-review/src/app/shared/enums/monaco-tree-node-type.enum.ts
  apps/code-review/src/app/shared/interfaces/index.ts
  apps/code-review/src/app/shared/interfaces/monaco-tree-node.interface.ts
  apps/code-review/src/app/shared/services/project-source-url.service.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

fix(code-review): overview layout
  .stylelintrc.json
  apps/code-review/src/app/app.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.scss
  apps/code-review/src/app/pages/overview/components/header/header.component.html
  apps/code-review/src/app/pages/overview/components/header/header.component.scss
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/remote-entry/entry.component.scss
  apps/host/src/app/app.component.scss
  apps/host/src/app/pages/home/acua-home.component.scss
  apps/host/src/app/pages/home/components/header/header.component.html
  apps/host/src/app/pages/home/components/header/header.component.scss
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix

fix(code-review): different small things; feat: add editor language changing;
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/services/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/services/language.service.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.scss
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/resolvers/source-code.resolver.ts
  libs/assets/src/lib/icons/file-explorer/file.svg
  libs/assets/src/lib/icons/file-explorer/folder.svg
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: fix project by prettier rules
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/states/index.ts
  apps/code-review/src/app/pages/overview/enums/index.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/pages/overview/overview.routes.ts
  apps/code-review/src/app/pages/overview/resolvers/index.ts
  apps/code-review/src/app/pages/overview/tokens/index.ts
  apps/code-review/src/app/pages/overview/tokens/source-code.token.ts
  apps/code-review/src/app/shared/enums/index.ts
  apps/code-review/src/app/shared/interfaces/index.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): improve visual
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/data/extension-icon.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.scss
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/remote-entry/entry.component.scss
  libs/assets/src/lib/icons/file-explorer/javascript.svg
  libs/assets/src/lib/styles/variables.scss
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): language service
  apps/code-review/src/app/pages/overview/components/code-editor/services/language.service.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: change hardcoded comments data
  apps/code-review/src/app/shared/api/review-request-comments.api.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): changes to comments
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.module.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/states/file-explorer-depth.state.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/states/index.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): remove console output
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

fix(code-review): widget disposing when moving to another file
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-comments-amount.directive.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

fix: replace fill-available to stretch
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/remote-entry/entry.component.scss
Due: npx prettier **/*.scss --write, stylelint --fix

fix: height stretch in firefox
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/remote-entry/entry.component.scss
Due: npx prettier **/*.scss --write, stylelint --fix

refactor(code-review): editor directives
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-comments-amount.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-highlighter.directive.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

fix(code-review): comment highlighter
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-highlighter.directive.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(code-review): add markdown support
  apps/code-review/src/app/pages/list/components/markdown/index.ts
  apps/code-review/src/app/pages/list/components/markdown/markdown.component.html
  apps/code-review/src/app/pages/list/components/markdown/markdown.component.scss
  apps/code-review/src/app/pages/list/components/markdown/markdown.component.ts
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/list/list.module.ts
  libs/shared/package-lock.json
  libs/shared/package.json
  libs/shared/src/lib/components/index.ts
  libs/shared/src/lib/components/markdown/components/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/data/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/data/markdown-data.array.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/enums/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/enums/markdown-syntax.enum.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/functions/get-markdown-syntax.function.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/functions/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/interfaces/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/interfaces/markdown-data.interface.ts
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.html
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.scss
  libs/shared/src/lib/components/markdown/components/markdown-editor/markdown-editor.component.ts
  libs/shared/src/lib/components/markdown/components/markdown-previewer/index.ts
  libs/shared/src/lib/components/markdown/components/markdown-previewer/markdown-previewer.component.html
  libs/shared/src/lib/components/markdown/components/markdown-previewer/markdown-previewer.component.scss
  libs/shared/src/lib/components/markdown/components/markdown-previewer/markdown-previewer.component.ts
  libs/shared/src/lib/components/markdown/index.ts
  libs/shared/src/lib/components/markdown/markdown.module.ts
  package-lock.json
  package.json
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix
