Repository dreyliky/angular-community-ua-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint **/*.ts --fix

chore: remove test code from AppComponent
  apps/host/src/app/app.component.ts
Due: eslint **/*.ts --fix

fix(host): auth module didn't loaded
  apps/host/src/app/app.routes.ts
Due: eslint **/*.ts --fix

feat(host): created header component
  apps/host/src/app/pages/home/acua-home.component.html
  apps/host/src/app/pages/home/components/header/header-user/header-user.component.html
  apps/host/src/app/pages/home/components/header/header-user/header-user.component.scss
  apps/host/src/app/pages/home/components/header/header-user/header-user.component.ts
  apps/host/src/app/pages/home/components/header/header.component.html
  apps/host/src/app/pages/home/components/header/header.component.scss
  apps/host/src/app/pages/home/components/header/header.component.ts
  apps/host/src/app/pages/home/components/header/header.module.ts
  apps/host/src/app/pages/home/home.module.ts
Due: stylelint --fix, eslint **/*.ts --fix

chore(host): replaced height property
  apps/host/src/app/pages/home/components/header/header.component.scss
Due: stylelint --fix

feat(host and code-review): replace local favicons to global
  apps/code-review/src/favicon.ico
  apps/code-review/src/index.html
  apps/host/src/favicon.ico
  apps/host/src/index.html
Due: none

feat(host and code-review): replaced local favicons to global
  apps/code-review/src/favicon.ico
  apps/code-review/src/index.html
  apps/host/src/favicon.ico
  apps/host/src/index.html
Due: none

chore(host and code-review): changed theme, restyling
  apps/code-review/project.json
  apps/code-review/src/styles.scss
  apps/host/project.json
  apps/host/src/app/app.component.scss
  apps/host/src/app/pages/home/components/header/header-user/header-user.component.html
  apps/host/src/app/pages/home/components/header/header-user/header-user.component.scss
  apps/host/src/app/pages/home/components/header/header.component.scss
  apps/host/src/styles.scss
  libs/assets/src/lib/images/user-avatar.png
Due: stylelint --fix

feat(host): add login page
  apps/host/src/app/pages/auth/auth.module.ts
  apps/host/src/app/pages/auth/auth.routes.ts
  apps/host/src/app/pages/auth/components/login/login.component.html
  apps/host/src/app/pages/auth/components/login/login.component.scss
  apps/host/src/app/pages/auth/components/login/login.component.spec.ts
  apps/host/src/app/pages/auth/components/login/login.component.ts
Due: stylelint --fix, eslint **/*.ts --fix

feat(host): add telegram login widget
  apps/host/src/app/features/features.module.ts
  apps/host/src/app/features/login/components/login-widget/login-widget.component.html
  apps/host/src/app/features/login/components/login-widget/login-widget.component.scss
  apps/host/src/app/features/login/components/login-widget/login-widget.component.spec.ts
  apps/host/src/app/features/login/components/login-widget/login-widget.component.ts
  apps/host/src/app/features/login/directives/login-widget.directive.ts
  apps/host/src/app/features/login/enums/login-widget.enum.ts
  apps/host/src/app/features/login/interfaces/login-widget.interface.ts
  apps/host/src/app/features/login/interfaces/user.interface.ts
  apps/host/src/app/features/login/login.module.ts
  apps/host/src/app/pages/auth/acua-auth.component.html
Due: stylelint --fix, eslint **/*.ts --fix

chore(host and code-review): removed eslint rule, changed code, added scss variables
  .eslintrc.json
  apps/code-review/src/app/core/enums/index.ts
  apps/code-review/src/app/core/index.ts
  apps/code-review/src/styles.scss
  apps/host/project.json
  apps/host/src/app/core/enums/app-route.enum.ts
  apps/host/src/app/core/enums/index.ts
  apps/host/src/app/core/index.ts
  apps/host/src/app/pages/home/components/header/header-user/header-user.component.html
  apps/host/src/app/pages/home/components/header/header-user/header-user.component.ts
  apps/host/src/app/pages/home/components/header/header.component.html
  apps/host/src/app/pages/home/components/header/header.component.scss
  apps/host/src/app/pages/home/components/header/header.module.ts
  apps/host/src/app/pages/home/components/header/index.ts
  apps/host/src/app/pages/home/components/header/user-menu/user-menu.component.html
  apps/host/src/app/pages/home/components/header/user-menu/user-menu.component.scss
  apps/host/src/app/pages/home/components/header/user-menu/user-menu.component.ts
  apps/host/src/app/pages/home/enums/home-route.enum.ts
  apps/host/src/app/pages/home/enums/index.ts
  apps/host/src/app/pages/home/home.module.ts
  apps/host/src/app/pages/home/home.routes.ts
  apps/host/src/assets/icons/down-arrow.svg
  apps/host/src/styles.scss
  libs/assets/src/lib/styles/variables.scss
Due: stylelint --fix, eslint **/*.ts --fix

refactor(host): add auth routes enum
  apps/host/src/app/pages/auth/auth.routes.ts
  apps/host/src/app/pages/auth/enums/auth-routes.enum.ts
Due: eslint **/*.ts --fix

fix(host): alter callback name to proper one
  apps/host/src/app/features/login/components/login-widget/login-widget.component.ts
  apps/host/src/app/features/login/directives/login-widget.directive.ts
  apps/host/src/app/features/login/enums/login-widget.enum.ts
  apps/host/src/app/pages/auth/components/login/login.component.ts
Due: eslint **/*.ts --fix

feat(code-review): added stackblitz sdk to overview page
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  package-lock.json
  package.json
Due: stylelint --fix, eslint **/*.ts --fix

feat(code-review): added stackblitz sdk to overview page
  apps/code-review/src/app/pages/overview/overview.component.html
Due: none

feat(code-review): made separate component for code-editor, code style improve
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.html
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
Due: stylelint --fix, eslint **/*.ts --fix

feat(code-review): add variables scss
  apps/code-review/project.json
Due: none

feat(host): add enviroments
  apps/code-review-e2e/project.json
  apps/code-review/project.json
  apps/host-e2e/project.json
  apps/host/project.json
  apps/host/src/app/pages/auth/acua-auth.component.html
  apps/host/src/app/pages/auth/components/login/login.component.ts
  apps/host/src/environments/environment.development.ts
  apps/host/src/environments/environment.local.ts
  apps/host/src/environments/environment.ts
  libs/assets/project.json
  libs/shared/project.json
  nx.json
Due: eslint **/*.ts --fix

refactor: format relative to prettier
  apps/code-review-e2e/project.json
  apps/host-e2e/project.json
  apps/host/project.json
  nx.json
  package-lock.json
  package.json
Due: none

refactor(host): change comp structure
  apps/host/src/app/directives/login-widget.directive.ts
  apps/host/src/app/enums/login-widget.enum.ts
  apps/host/src/app/features/features.module.ts
  apps/host/src/app/features/login/components/login-widget/login-widget.component.html
  apps/host/src/app/features/login/components/login-widget/login-widget.component.scss
  apps/host/src/app/features/login/components/login-widget/login-widget.component.spec.ts
  apps/host/src/app/features/login/components/login-widget/login-widget.component.ts
  apps/host/src/app/features/login/login.module.ts
  apps/host/src/app/interfaces/login-widget.interface.ts
  apps/host/src/app/interfaces/user.interface.ts
  apps/host/src/app/pages/auth/auth.module.ts
  apps/host/src/app/pages/auth/components/login/login.component.html
  apps/host/src/app/pages/auth/components/login/login.component.spec.ts
  apps/host/src/app/pages/auth/components/login/login.component.ts
Due: stylelint --fix, eslint **/*.ts --fix

refactor: format relative to prettier
  libs/assets/project.json
  libs/shared/project.json
Due: none

feat(host): style login page
  apps/host/src/app/pages/auth/components/login/login.component.html
  apps/host/src/app/pages/auth/components/login/login.component.scss
Due: stylelint --fix

refactor(host): change the way callback is processed
  apps/host/src/app/core/interfaces/acua-windoiw.interface.ts
  apps/host/src/app/core/interfaces/index.ts
  apps/host/src/app/core/tokens/acua-window.token.ts
  apps/host/src/app/core/tokens/index.ts
  apps/host/src/app/enums/login-widget.enum.ts
  apps/host/src/app/interfaces/index.ts
  apps/host/src/app/interfaces/telegram-response.interface.ts
  apps/host/src/app/interfaces/user.interface.ts
  apps/host/src/app/pages/auth/auth.module.ts
  apps/host/src/app/pages/auth/components/index.ts
  apps/host/src/app/pages/auth/components/login/index.ts
  apps/host/src/app/pages/auth/components/login/login.component.html
  apps/host/src/app/pages/auth/components/login/login.component.ts
  apps/host/src/app/pages/auth/directives/index.ts
  apps/host/src/app/pages/auth/directives/login-widget.directive.ts
  apps/host/src/app/pages/auth/enums/index.ts
Due: eslint **/*.ts --fix

feat(code-review): added visual content to list page
  apps/code-review/src/app/app.module.ts
  apps/code-review/src/app/pages/list/all-requests/all-requests.component.html
  apps/code-review/src/app/pages/list/all-requests/all-requests.component.scss
  apps/code-review/src/app/pages/list/all-requests/all-requests.component.ts
  apps/code-review/src/app/pages/list/all-requests/index.ts
  apps/code-review/src/app/pages/list/historical-requests/historical-requests.component.html
  apps/code-review/src/app/pages/list/historical-requests/historical-requests.component.scss
  apps/code-review/src/app/pages/list/historical-requests/historical-requests.component.ts
  apps/code-review/src/app/pages/list/historical-requests/index.ts
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/list/list.component.scss
  apps/code-review/src/app/pages/list/list.module.ts
  apps/code-review/src/app/pages/list/my-requests/index.ts
  apps/code-review/src/app/pages/list/my-requests/my-requests.component.html
  apps/code-review/src/app/pages/list/my-requests/my-requests.component.scss
  apps/code-review/src/app/pages/list/my-requests/my-requests.component.ts
  apps/code-review/src/app/pages/list/styles/request-styles.scss
Due: stylelint --fix, eslint **/*.ts --fix

refactor(host): change the way env is accessed & change some details
  apps/host/src/app/core/interfaces/acua-windoiw.interface.ts
  apps/host/src/app/core/tokens/enviroment.token.ts
  apps/host/src/app/core/tokens/index.ts
  apps/host/src/app/pages/auth/components/login/login.component.ts
  apps/host/src/app/pages/auth/directives/login-widget.directive.ts
Due: eslint **/*.ts --fix

refactor(code-review): list component by pr comments
  apps/code-review/src/app/pages/list/components/all-requests/all-requests.component.html
  apps/code-review/src/app/pages/list/components/all-requests/all-requests.component.scss
  apps/code-review/src/app/pages/list/components/all-requests/all-requests.component.ts
  apps/code-review/src/app/pages/list/components/all-requests/index.ts
  apps/code-review/src/app/pages/list/components/historical-requests/historical-requests.component.html
  apps/code-review/src/app/pages/list/components/historical-requests/historical-requests.component.scss
  apps/code-review/src/app/pages/list/components/historical-requests/historical-requests.component.ts
  apps/code-review/src/app/pages/list/components/historical-requests/index.ts
  apps/code-review/src/app/pages/list/components/index.ts
  apps/code-review/src/app/pages/list/components/my-requests/index.ts
  apps/code-review/src/app/pages/list/components/my-requests/my-requests.component.html
  apps/code-review/src/app/pages/list/components/my-requests/my-requests.component.scss
  apps/code-review/src/app/pages/list/components/my-requests/my-requests.component.ts
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/list/list.component.scss
  apps/code-review/src/app/pages/list/list.module.ts
  apps/code-review/src/app/pages/list/my-requests/my-requests.component.scss
  apps/code-review/src/app/pages/list/styles/request-styles.scss
  cspell.json
Due: stylelint --fix, eslint **/*.ts --fix

refactor(host): change widget directive & details
  apps/host/src/app/core/interfaces/acua-window.interface.ts
  apps/host/src/app/core/interfaces/index.ts
  apps/host/src/app/interfaces/index.ts
  apps/host/src/app/interfaces/login-widget.interface.ts
  apps/host/src/app/pages/auth/acua-auth.component.html
  apps/host/src/app/pages/auth/auth.routes.ts
  apps/host/src/app/pages/auth/components/login/login.component.html
  apps/host/src/app/pages/auth/components/login/login.component.ts
  apps/host/src/app/pages/auth/directives/login-widget.directive.ts
  apps/host/src/app/pages/auth/enums/auth-routes.enum.ts
  apps/host/src/app/pages/auth/enums/index.ts
Due: eslint **/*.ts --fix

chore: add exports in index file
  apps/host/src/app/core/index.ts
Due: eslint **/*.ts --fix

chore(code-review): changed imports
  apps/code-review/src/app/pages/list/list.module.ts
Due: eslint **/*.ts --fix

chore(host): login-widget directive
  apps/host/src/app/core/interfaces/acua-window.interface.ts
  apps/host/src/app/pages/auth/directives/login-widget.directive.ts
  cspell.json
Due: eslint **/*.ts --fix

feat(host and code review): created custom color palette
  apps/code-review/project.json
  apps/host/project.json
  libs/assets/src/lib/styles/theme.scss
Due: stylelint --fix

chore(host and code review): removed purple-green theme, theme name changed
  apps/code-review/project.json
  apps/host/project.json
  libs/assets/src/lib/styles/acua-material-theme.scss
Due: stylelint --fix

chore(host and code-review): changed variable name, removed unnecessary code
  libs/assets/src/lib/styles/acua-material-theme.scss
Due: stylelint --fix

feat(code-review): made request table with user project information
  apps/code-review/src/app/core/enums/code-review-status-enum.ts
  apps/code-review/src/app/core/enums/index.ts
  apps/code-review/src/app/core/index.ts
  apps/code-review/src/app/core/interfaces/code-review-request.interface.ts
  apps/code-review/src/app/core/interfaces/index.ts
  apps/code-review/src/app/pages/request/components/requests-table/requests-table.component.html
  apps/code-review/src/app/pages/request/components/requests-table/requests-table.component.scss
  apps/code-review/src/app/pages/request/components/requests-table/requests-table.component.ts
  apps/code-review/src/app/pages/request/components/user-avatar/user-avatar.component.html
  apps/code-review/src/app/pages/request/components/user-avatar/user-avatar.component.scss
  apps/code-review/src/app/pages/request/components/user-avatar/user-avatar.component.ts
  apps/code-review/src/app/pages/request/request.component.html
  apps/code-review/src/app/pages/request/request.module.ts
  apps/code-review/src/app/remote-entry/entry.routes.ts
Due: stylelint --fix, eslint **/*.ts --fix

chore(code-review): cropped part of the objects
  apps/code-review/src/app/pages/overview/data/extension-icon.ts
  apps/code-review/src/app/pages/overview/data/file-icon.ts
  apps/code-review/src/app/pages/overview/data/folder-icon.ts
Due: eslint **/*.ts --fix

feat(code-review): added sass icon
  apps/code-review/src/assets/icons/file-tree/sass.svg
Due: none

Path conditions:
  stylelint --fix: any of: *.scss
  eslint **/*.ts --fix: any of: ./**/*.ts
