Repository dreyliky/angular-community-ua-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

.lintstagedrc:

{
    "**/*.html": ["npx prettier **/*.html --write"],
    "**/*.scss": [
        "npx prettier **/*.scss --write",
        "stylelint --fix"
    ],
    "**/*.ts": [
        "npx prettier **/*.ts --write",
        "eslint **/*.ts --fix"
    ]
}

refactor: move app config to shared lib
  apps/code-review/src/app/app.module.ts
  apps/code-review/src/app/config/app-config.provider.ts
  apps/code-review/src/app/config/index.ts
  apps/code-review/src/bootstrap.ts
  apps/host/src/app/app.module.ts
  apps/host/src/app/config/app-config.provider.ts
  apps/host/src/app/config/app.config.ts
  apps/host/src/app/config/index.ts
  apps/host/tsconfig.editor.json
  libs/shared/src/lib/modules/app-config/app-config.module.ts
  libs/shared/src/lib/modules/app-config/app.config.ts
  libs/shared/src/lib/modules/app-config/index.ts
  libs/shared/src/lib/modules/index.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: update tsconfig.editor for host
  apps/host/tsconfig.editor.json
Due: none

feat: sync file query parameter on overview page
  apps/code-review/src/app/pages/overview/components/code-editor/directives/file-opener.directive.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/base-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.ts
  apps/code-review/src/app/pages/overview/providers/page-providers.array.ts
  apps/code-review/src/app/pages/overview/services/file-selection.service.ts
  apps/code-review/src/app/pages/overview/services/index.ts
  apps/code-review/src/app/pages/request/validators/link-validate.validator.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: code-editor component
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
Due: npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: store folders opening state
  apps/code-review/src/app/pages/overview/components/file-explorer/components/folder-node/folder-node.component.ts
  apps/code-review/src/app/pages/overview/providers/page-providers.array.ts
  apps/code-review/src/app/pages/overview/services/project-entities-initialization.service.ts
  apps/code-review/src/app/pages/overview/states/folders-opened.state.ts
  apps/code-review/src/app/pages/overview/states/index.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: remove useless serve-production command
  apps/code-review/project.json
  apps/host/project.json
Due: none

fix: review-request filter api endpoint name
  apps/code-review/src/app/shared/api/review-request.api.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: change styles for file comments amount
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: update styles for comments amount
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.module.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments-amount/comments-amount.component.html
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments-amount/comments-amount.component.scss
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(code-review): add mat-menu for mobile screen
  libs/shared/src/lib/modules/markdown/components/editor/editor.component.scss
  libs/shared/src/lib/modules/markdown/components/toolbar/toolbar.component.html
  libs/shared/src/lib/modules/markdown/components/toolbar/toolbar.component.ts
  libs/shared/src/lib/modules/markdown/markdown.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: update ngx-base-state version
  apps/code-review/src/app/app.module.ts
  apps/code-review/src/app/pages/overview/states/file-selection.state.ts
  apps/host/src/app/app.module.ts
  package-lock.json
  package.json
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(code-review): replace textarea to markdown
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.html
  apps/code-review/src/app/pages/request/request.module.ts
  libs/shared/src/lib/modules/markdown/components/editor/editor.component.html
  libs/shared/src/lib/modules/markdown/components/editor/editor.component.scss
  libs/shared/src/lib/modules/markdown/components/editor/editor.component.ts
  libs/shared/src/lib/modules/markdown/markdown.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix
