Repository dreyliky/angular-community-ua-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint **/*.ts --fix

.lintstagedrc:

{
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "./**/*.ts": [
    "eslint **/*.ts --fix",
    "git add"
  ]
}

refactor: change stackblitz editor to monaco
  apps/code-review/project.json
  apps/code-review/src/app/app.component.scss
  apps/code-review/src/app/app.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.html
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/index.ts
  apps/code-review/src/app/pages/overview/components/index.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/remote-entry/entry.component.scss
  apps/code-review/src/app/remote-entry/entry.component.ts
  apps/code-review/webpack.config.js
  apps/code-review/webpack.prod.config.js
  apps/host/src/app/app.component.html
  apps/host/src/app/pages/home/acua-home.component.css
  apps/host/src/app/pages/home/acua-home.component.scss
  apps/host/src/app/pages/home/acua-home.component.ts
  cspell.json
  libs/assets/src/index.ts
  package-lock.json
  package.json
Due: stylelint --fix, eslint **/*.ts --fix

fix(code-review): merge conflicts
  apps/code-review/src/app/pages/overview/components/file-tree/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
Due: stylelint --fix

fix(code-review): monaco optimization
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/index.ts
  apps/code-review/src/app/pages/overview/components/file-tree/index.ts
  apps/code-review/src/app/pages/overview/components/index.ts
  apps/code-review/src/app/pages/overview/directives/index.ts
  apps/code-review/src/app/pages/overview/directives/monaco-editor.directive.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/webpack.config.js
  package-lock.json
  package.json
Due: stylelint --fix, eslint **/*.ts --fix

refactor(code-review): some changes
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/enums/file-explorer-theme.enum.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/enums/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.ts
Due: eslint **/*.ts --fix

refactor(code-review): changed code, removed enum and interface by pr comments
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/data/extension-icon.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/data/file-icon.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/data/folder-icon.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/enums/file-explorer-theme.enum.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/enums/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/interfaces/element-offset-position.interface.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/interfaces/index.ts
Due: eslint **/*.ts --fix

refactor(code-review): changed method
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
Due: eslint **/*.ts --fix

refactor(code-review): added new types, changed methods and removed method by pr comments
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
Due: eslint **/*.ts --fix

feat: add ukrainian to code spell checker
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore(code-review): changed uppercase to lowercase by pr comments
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
Due: eslint **/*.ts --fix

chore(host and code-review): changed title in index html
  apps/code-review/src/index.html
  apps/host/src/index.html
Due: none

feat(code-review): added autoredirect to list if empty path
  apps/code-review/src/app/core/enums/app-route-enum.ts
  apps/code-review/src/app/remote-entry/entry.routes.ts
Due: eslint **/*.ts --fix

chore(code-review): some changes
  apps/code-review/src/app/core/enums/app-route-enum.ts
  apps/code-review/src/app/remote-entry/entry.routes.ts
Due: eslint **/*.ts --fix

chore(code-review): removed path match
  apps/code-review/src/app/remote-entry/entry.routes.ts
Due: eslint **/*.ts --fix

feat(code-review): comment fix
  apps/code-review/src/app/core/enums/code-review-status-enum.ts
  apps/code-review/src/app/core/enums/index.ts
  apps/code-review/src/app/core/index.ts
  apps/code-review/src/app/core/interfaces/code-review-request.interface.ts
  apps/code-review/src/app/core/interfaces/index.ts
  apps/code-review/src/app/enums/code-review-request-status.enum.ts
  apps/code-review/src/app/enums/index.ts
  apps/code-review/src/app/interfaces/code-review-request.interface.ts
  apps/code-review/src/app/interfaces/index.ts
  apps/code-review/src/app/pages/list/components/index.ts
  apps/code-review/src/app/pages/list/components/requests-table/index.ts
  apps/code-review/src/app/pages/list/components/requests-table/requests-table.component.html
  apps/code-review/src/app/pages/list/components/requests-table/requests-table.component.scss
  apps/code-review/src/app/pages/list/components/requests-table/requests-table.component.ts
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/list/list.module.ts
  apps/code-review/src/app/pages/overview/components/code-editor/index.ts
  apps/code-review/src/app/pages/overview/components/index.ts
  apps/code-review/src/app/pages/overview/enums/index.ts
  apps/code-review/src/app/pages/overview/enums/overview-param.enum.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/pages/overview/overview.routes.ts
  apps/code-review/src/app/pages/request/components/user-avatar/user-avatar.component.html
  apps/code-review/src/app/pages/request/components/user-avatar/user-avatar.component.ts
  apps/code-review/src/app/pages/request/request.component.html
  apps/code-review/src/app/pages/request/request.module.ts
  apps/code-review/src/app/remote-entry/entry.routes.ts
  libs/shared/src/lib/components/index.ts
  libs/shared/src/lib/components/user-avatar/index.ts
  libs/shared/src/lib/components/user-avatar/user-avatar.component.ts
  libs/shared/src/lib/components/user-avatar/user-avatar.module.ts
  libs/shared/src/lib/index.ts
Due: stylelint --fix, eslint **/*.ts --fix

feat(code-review): comment fix
  apps/code-review/src/app/pages/request/components/user-avatar/user-avatar.component.scss
  libs/shared/src/lib/components/user-avatar/user-avatar.component.scss
Due: stylelint --fix

feat(host and code-review): added routing preload strategy
  apps/code-review/src/app/app.module.ts
  apps/host/src/app/app.module.ts
Due: eslint **/*.ts --fix

feat(code-review): comment fix
  apps/code-review/src/app/core/interfaces/index.ts
  apps/code-review/src/app/pages/list/components/all-requests/all-requests.component.html
  apps/code-review/src/app/pages/list/components/historical-requests/historical-requests.component.html
  apps/code-review/src/app/pages/list/components/my-requests/my-requests.component.html
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/overview/enums/overview-param.enum.ts
  apps/code-review/src/app/pages/overview/overview.routes.ts
  libs/shared/src/lib/components/user-avatar/user-avatar.component.ts
Due: eslint **/*.ts --fix

feat(code-review): add highlight line of code & make editor readonly & change cursor style
  apps/code-review/src/app/pages/overview/directives/monaco-editor.directive.ts
  apps/code-review/src/styles.scss
Due: stylelint --fix, eslint **/*.ts --fix

feat(code-review): conflict fix
  apps/code-review/src/app/pages/overview/components/code-editor/index.ts
  apps/code-review/src/app/pages/overview/components/index.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/pages/overview/overview.routes.ts
Due: eslint **/*.ts --fix

chore: update lintstagedrc config
  .lintstagedrc
Due: none

chore: update project by prettier rules
  .prettierrc
  apps/code-review/src/app/pages/list/components/requests-table/requests-table.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.html
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/remote-entry/entry.component.ts
  apps/code-review/src/index.html
  apps/host/src/app/pages/auth/components/login/login.component.html
  apps/host/src/app/pages/auth/directives/login-widget.directive.ts
  apps/host/src/app/pages/home/components/header/header.component.html
  apps/host/src/app/pages/home/components/header/user-menu/user-menu.component.html
  apps/host/src/index.html
Due: eslint **/*.ts --fix

refactor(host, code-review): small improvements
  .eslintrc.json
  apps/code-review/project.json
  apps/code-review/src/app/shared/enums/code-review-request-status.enum.ts
  apps/code-review/src/app/shared/enums/index.ts
  apps/code-review/src/app/shared/index.ts
  apps/code-review/src/app/shared/interfaces/code-review-request.interface.ts
  apps/code-review/src/app/shared/interfaces/index.ts
  apps/host/project.json
  apps/host/src/app/pages/auth/acua-auth.component.css
  apps/host/src/app/pages/auth/acua-auth.component.scss
  apps/host/src/app/pages/auth/acua-auth.component.ts
  apps/host/src/app/pages/auth/components/login/login.component.ts
  apps/host/src/app/pages/auth/directives/login-widget.directive.ts
  apps/host/src/app/shared/index.ts
  apps/host/src/app/shared/interfaces/index.ts
  apps/host/src/app/shared/interfaces/telegram-response.interface.ts
  apps/host/src/environments/environment.development.ts
  apps/host/src/environments/environment.local.ts
  apps/host/src/environments/environment.ts
  apps/host/webpack.config.js
Due: stylelint --fix, eslint **/*.ts --fix

fix: stylelint confict rule with prettier
  .stylelintrc.json
  libs/assets/src/lib/styles/acua-material-theme.scss
Due: stylelint --fix

feat(host): made redirect to home page from header icon
  apps/host/src/app/pages/home/components/header/header.component.html
  apps/host/src/app/pages/home/components/header/header.component.scss
  apps/host/src/app/pages/home/components/header/header.component.ts
Due: stylelint --fix, eslint **/*.ts --fix

feat(code-review): alter the way of selecting line & add method to get line element
  apps/code-review/src/app/pages/overview/directives/monaco-editor.directive.ts
  apps/code-review/src/app/pages/overview/overview.component.ts
Due: eslint **/*.ts --fix

feat(code-review): add telegram webapp script & adjust an access to its properties
  apps/code-review/src/app/core/index.ts
  apps/code-review/src/app/core/interfaces/acua-window.interface.ts
  apps/code-review/src/app/core/interfaces/index.ts
  apps/code-review/src/app/core/tokens/acua-window.token.ts
  apps/code-review/src/app/core/tokens/index.ts
  apps/code-review/src/index.html
Due: eslint **/*.ts --fix

feat(code-review): added request creation page
  apps/code-review/src/app/app.module.ts
  apps/code-review/src/app/pages/request/components/index.ts
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.html
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.scss
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.ts
  apps/code-review/src/app/pages/request/request.component.html
  apps/code-review/src/app/pages/request/request.component.scss
  apps/code-review/src/app/pages/request/request.component.ts
  apps/code-review/src/app/pages/request/request.module.ts
  apps/code-review/src/app/shared/api/index.ts
  apps/code-review/src/app/shared/api/request-api.service.ts
  apps/code-review/src/app/shared/index.ts
  apps/code-review/src/app/shared/validators/index.ts
  apps/code-review/src/app/shared/validators/link-validate.validator.ts
Due: stylelint --fix, eslint **/*.ts --fix

chore(host): added HttpClientModule to AppModule
  apps/host/src/app/app.module.ts
Due: eslint **/*.ts --fix

chore(code-review): changes from comments
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.html
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.ts
  apps/code-review/src/app/pages/request/forms/index.ts
  apps/code-review/src/app/pages/request/forms/request.form.ts
  apps/code-review/src/app/pages/request/interfaces/index.ts
  apps/code-review/src/app/pages/request/interfaces/request-form.interface.ts
  apps/code-review/src/app/pages/request/request.component.html
  apps/code-review/src/app/pages/request/request.component.ts
  apps/code-review/src/app/shared/index.ts
  apps/code-review/src/app/shared/services/index.ts
  apps/code-review/src/app/shared/services/request.service.ts
  apps/code-review/src/app/shared/types/form-group-def.type.ts
  apps/code-review/src/app/shared/types/index.ts
  apps/code-review/src/app/shared/validators/link-validate.validator.ts
Due: eslint **/*.ts --fix

feat(host): fix comments
  apps/host/src/app/pages/home/components/header/header.component.html
  apps/host/src/app/pages/home/components/header/header.component.scss
  apps/host/src/app/pages/home/components/header/header.component.ts
Due: stylelint --fix, eslint **/*.ts --fix

feat(host): fix comments
  apps/host/src/app/pages/home/components/header/header.component.html
  apps/host/src/app/pages/home/components/header/header.component.ts
Due: eslint **/*.ts --fix

chore(code-review): done tasks from comments
  apps/code-review/project.json
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.html
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.ts
  apps/code-review/src/app/pages/request/forms/request.form.ts
  apps/code-review/src/app/pages/request/interfaces/index.ts
  apps/code-review/src/app/pages/request/interfaces/request-form-info.interface.ts
  apps/code-review/src/app/pages/request/request.component.ts
  apps/code-review/src/app/pages/request/request.module.ts
  apps/code-review/src/app/pages/request/validators/index.ts
  apps/code-review/src/app/pages/request/validators/link-validate.validator.ts
  apps/code-review/src/app/shared/api/request-api.service.ts
  apps/code-review/src/app/shared/index.ts
  apps/code-review/src/app/shared/validators/link-validate.validator.ts
  apps/code-review/src/environments/environment.development.ts
  apps/code-review/src/environments/environment.ts
  apps/code-review/tsconfig.editor.json
  libs/shared/src/lib/index.ts
  libs/shared/src/lib/pipes/index.ts
  libs/shared/src/lib/pipes/pipes.module.ts
  libs/shared/src/lib/pipes/safe.pipe.ts
Due: eslint **/*.ts --fix

chore(code-review): done tasks from comments
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.html
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.ts
  apps/code-review/src/app/pages/request/forms/request.form.ts
  apps/code-review/src/app/pages/request/interfaces/index.ts
  apps/code-review/src/app/pages/request/interfaces/request-form-info.interface.ts
  apps/code-review/src/app/pages/request/request.component.html
  apps/code-review/src/app/pages/request/request.component.ts
  apps/code-review/src/app/pages/request/validators/link-validate.validator.ts
  apps/code-review/src/app/shared/api/index.ts
  apps/code-review/src/app/shared/api/project-source-url.api.ts
  apps/code-review/src/app/shared/index.ts
  apps/code-review/src/app/shared/interfaces/index.ts
  apps/code-review/src/app/shared/interfaces/request-form-info.interface.ts
  apps/code-review/src/app/shared/services/index.ts
  apps/code-review/src/app/shared/services/project-source-url.service.ts
  apps/code-review/src/app/shared/services/request.service.ts
  apps/code-review/tsconfig.editor.json
  libs/shared/src/lib/pipes/safe.pipe.ts
Due: eslint **/*.ts --fix

chore(code-review): done tasks from comments
  apps/code-review/src/app/core/tokens/environment.token.ts
  apps/code-review/src/app/core/tokens/index.ts
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.html
  apps/code-review/src/app/shared/api/project-source-url.api.ts
  apps/code-review/src/app/shared/services/project-source-url.service.ts
  libs/shared/src/lib/pipes/index.ts
  libs/shared/src/lib/pipes/pipes.module.ts
  libs/shared/src/lib/pipes/safe-resource-url.pipe.ts
Due: eslint **/*.ts --fix

feat(code-review): change line of code selection & add counter element to line
  apps/code-review/src/app/pages/overview/directives/monaco-editor.directive.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/styles.scss
Due: stylelint --fix, eslint **/*.ts --fix

refactor(code-review): base structure for editor
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.module.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments-amount/comments-amount.component.html
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments-amount/comments-amount.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments-amount/comments-amount.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments-amount/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/data/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/data/monaco-options.data.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-comments-amount.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-highlighter.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/providers/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/providers/monaco-editor.provider.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/index.ts
  apps/code-review/src/app/pages/overview/components/index.ts
  apps/code-review/src/app/pages/overview/directives/monaco-editor.directive.ts
  apps/code-review/src/app/pages/overview/enums/index.ts
  apps/code-review/src/app/pages/overview/enums/overview-data-param.enum.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/pages/overview/overview.routes.ts
  apps/code-review/src/app/pages/overview/resolvers/index.ts
  apps/code-review/src/app/pages/overview/resolvers/monaco-api.resolver.ts
  apps/code-review/src/app/pages/overview/tokens/index.ts
  apps/code-review/src/app/pages/overview/tokens/monaco-editor.token.ts
  apps/code-review/src/app/pages/overview/types/index.ts
  apps/code-review/src/app/pages/overview/types/monaco-api.type.ts
Due: stylelint --fix, eslint **/*.ts --fix

fix: files by prettier rules
  apps/code-review/src/app/core/index.ts
  apps/code-review/src/app/core/interfaces/acua-window.interface.ts
Due: eslint **/*.ts --fix

refactor: remove telegram-web-app script
  apps/code-review/src/app/core/index.ts
  apps/code-review/src/app/core/interfaces/acua-window.interface.ts
  apps/code-review/src/app/core/interfaces/index.ts
  apps/code-review/src/app/core/tokens/acua-window.token.ts
  apps/code-review/src/index.html
Due: eslint **/*.ts --fix
