Repository dreyliky/angular-community-ua-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor: authorization detection in template
  apps/code-review/src/app/pages/list/components/review-request-creation-button/review-request-creation-button.component.html
  apps/code-review/src/app/pages/list/components/review-request-creation-button/review-request-creation-button.component.ts
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/list/list.module.ts
  apps/host/src/app/pages/home/components/header/components/user-menu/user-menu.component.html
  apps/host/src/app/pages/home/components/header/header.component.html
  apps/host/src/app/pages/home/components/header/header.component.scss
  apps/host/src/app/pages/home/components/header/header.component.ts
  apps/host/src/app/pages/home/components/header/header.module.ts
  libs/shared/src/lib/modules/auth/auth.module.ts
  libs/shared/src/lib/modules/auth/directives/for-authorized.directive.ts
  libs/shared/src/lib/modules/auth/directives/for-unauthorized.directive.ts
  libs/shared/src/lib/modules/auth/directives/index.ts
  libs/shared/src/lib/modules/auth/index.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

fix: structural directive change detection
  apps/code-review/src/app/pages/list/list.component.html
  libs/shared/src/lib/modules/auth/directives/for-authorized.directive.ts
  libs/shared/src/lib/modules/auth/directives/for-unauthorized.directive.ts
  libs/shared/src/lib/modules/screen/directives/available-for-screen.directive.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: remove excess code-review btn from header
  apps/host/src/app/pages/home/components/header/components/user-menu/user-menu.component.html
Due: npx prettier **/*.html --write

feat(host): add pwa support
  apps/host/project.json
  apps/host/src/assets/pwa/icon-192x192.png
  apps/host/src/assets/pwa/icon-256x256.png
  apps/host/src/assets/pwa/icon-384x384.png
  apps/host/src/assets/pwa/icon-512x512.png
  apps/host/src/index.html
  apps/host/src/manifest.webmanifest
  apps/host/src/service-worker.js
Due: npx prettier **/*.html --write

chore: remove service worker console.logs
  apps/host/src/index.html
Due: npx prettier **/*.html --write

feat: visual improvements for overview page
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/constants/monaco-options.const.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-comments-amount.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-highlighter.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/selection-disabler.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/models/comment-content-widget.model.ts
  apps/code-review/src/app/pages/overview/components/code-editor/providers/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/providers/monaco-editor.provider.ts
  apps/code-review/src/app/pages/overview/components/code-editor/tokens/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/tokens/monaco-editor.token.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.scss
  apps/code-review/src/app/pages/overview/components/header/header.component.scss
  apps/code-review/src/app/pages/overview/facades/dependencies.facade.ts
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/providers/index.ts
  apps/code-review/src/app/pages/overview/providers/monaco-api.provider.ts
  apps/code-review/src/app/pages/overview/services/index.ts
  apps/code-review/src/app/pages/overview/services/monaco-theme-loader.service.ts
  apps/code-review/src/app/pages/overview/states/index.ts
  apps/code-review/src/app/pages/overview/states/monaco-theme-data.state.ts
  apps/code-review/src/app/pages/overview/tokens/index.ts
  apps/code-review/src/app/pages/overview/types/monaco-api.type.ts
  cspell.json
  libs/assets/src/lib/json/monaco-themes/tommorow-night.json
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): refactoring
  libs/shared/src/lib/modules/markdown-editor/components/index.ts
  libs/shared/src/lib/modules/markdown-editor/components/markdown-input/index.ts
  libs/shared/src/lib/modules/markdown-editor/components/markdown-input/markdown-input.component.html
  libs/shared/src/lib/modules/markdown-editor/components/markdown-input/markdown-input.component.scss
  libs/shared/src/lib/modules/markdown-editor/components/markdown-input/markdown-input.component.ts
  libs/shared/src/lib/modules/markdown-editor/components/markdown-previewer/markdown-previewer.component.ts
  libs/shared/src/lib/modules/markdown-editor/components/markdown-toolbar/classes/bold-button.class.ts
  libs/shared/src/lib/modules/markdown-editor/components/markdown-toolbar/classes/header-button.class.ts
  libs/shared/src/lib/modules/markdown-editor/components/markdown-toolbar/classes/italic-button.class.ts
  libs/shared/src/lib/modules/markdown-editor/components/markdown-toolbar/components/markdown-toggler/markdown-toggler.component.html
  libs/shared/src/lib/modules/markdown-editor/components/markdown-toolbar/components/markdown-toggler/markdown-toggler.component.ts
  libs/shared/src/lib/modules/markdown-editor/components/markdown-toolbar/index.ts
  libs/shared/src/lib/modules/markdown-editor/components/markdown-toolbar/markdown-toolbar.component.html
  libs/shared/src/lib/modules/markdown-editor/components/markdown-toolbar/markdown-toolbar.component.ts
  libs/shared/src/lib/modules/markdown-editor/directives/index.ts
  libs/shared/src/lib/modules/markdown-editor/directives/markdown-input.directive.ts
  libs/shared/src/lib/modules/markdown-editor/markdown-editor.component.html
  libs/shared/src/lib/modules/markdown-editor/markdown-editor.component.scss
  libs/shared/src/lib/modules/markdown-editor/markdown-editor.component.ts
  libs/shared/src/lib/modules/markdown-editor/markdown-editor.module.ts
  libs/shared/src/lib/modules/markdown-editor/states/index.ts
  libs/shared/src/lib/modules/markdown-editor/states/markdown-view-mode.state.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat: add angular & nx 16 + update all libs
  .eslintrc.json
  apps/code-review-e2e/cypress.config.ts
  apps/code-review-e2e/project.json
  apps/code-review/project.json
  apps/code-review/webpack.config.js
  apps/host-e2e/cypress.config.ts
  apps/host-e2e/project.json
  apps/host/project.json
  apps/host/webpack.config.js
  apps/host/webpack.dev.config.js
  apps/host/webpack.prod.config.js
  jest.config.ts
  jest.preset.js
  libs/assets/project.json
  libs/shared/project.json
  nx.json
  package-lock.json
  package.json
  tools/generators/.gitkeep
  tsconfig.base.json
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: experiments with signals
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/list/list.component.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/request/components/request-form/request-form.component.ts
  apps/host/src/app/pages/home/acua-home.component.html
  libs/shared/src/lib/modules/screen/directives/available-for-screen.directive.ts
  libs/shared/src/lib/modules/screen/services/screen.service.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: improve structural directives logic
  libs/shared/src/lib/modules/auth/directives/for-authorized.directive.ts
  libs/shared/src/lib/modules/auth/directives/for-unauthorized.directive.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): file explorer tree
  .stylelintrc.json
  apps/code-review/src/app/pages/overview/components/file-explorer/components/base-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/base-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/entity-nodes/entity-nodes.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/entity-nodes/entity-nodes.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/entity-nodes/entity-nodes.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/entity-nodes/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/file-tree-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-tree-node/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/folder-node/folder-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/folder-node/folder-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/folder-node/folder-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/folder-node/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.module.ts
  apps/code-review/src/app/pages/overview/overview.component.ts
  libs/assets/src/lib/icons/file-explorer/folder-open.svg
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor: overview page header accordion
  apps/code-review/src/app/pages/overview/components/header/header.component.html
  apps/code-review/src/app/pages/overview/components/header/header.component.scss
  apps/code-review/src/app/pages/overview/components/header/header.component.ts
  apps/code-review/src/app/pages/overview/components/header/header.module.ts
  apps/code-review/src/app/pages/overview/components/header/review-request-details-accordion/index.ts
  apps/code-review/src/app/pages/overview/components/header/review-request-details-accordion/review-request-details-accordion.component.html
  apps/code-review/src/app/pages/overview/components/header/review-request-details-accordion/review-request-details-accordion.component.scss
  apps/code-review/src/app/pages/overview/components/header/review-request-details-accordion/review-request-details-accordion.component.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat: add expansion panels in overview sidebar
  apps/code-review/src/app/pages/overview/components/file-explorer/components/base-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/base-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/states/index.ts
  apps/code-review/src/app/pages/overview/components/header/index.ts
  apps/code-review/src/app/pages/overview/components/index.ts
  apps/code-review/src/app/pages/overview/components/sidebar/index.ts
  apps/code-review/src/app/pages/overview/components/sidebar/sidebar.component.html
  apps/code-review/src/app/pages/overview/components/sidebar/sidebar.component.scss
  apps/code-review/src/app/pages/overview/components/sidebar/sidebar.component.ts
  apps/code-review/src/app/pages/overview/components/sidebar/sidebar.module.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.scss
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/overview.module.ts
  apps/code-review/src/app/pages/overview/states/file-selection.state.ts
  apps/code-review/src/app/pages/overview/states/index.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat: add jest preset library
  package-lock.json
  package.json
Due: none

chore: improve paddings for overview sidebar
  apps/code-review/src/app/pages/overview/components/sidebar/sidebar.component.scss
Due: npx prettier **/*.scss --write, stylelint --fix

feat: add total comment amount for file node
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.ts
  apps/code-review/src/app/pages/overview/states/review-request-comments.state.ts
  apps/code-review/src/app/shared/api/project-source-url.api.ts
  apps/code-review/src/app/shared/api/review-request-comments.api.ts
  apps/code-review/src/app/shared/api/review-request-source-code.api.ts
  apps/code-review/src/app/shared/api/review-request.api.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): edits by pr comments
  libs/shared/src/lib/modules/markdown-editor/components/markdown-previewer/markdown-previewer.component.html
  libs/shared/src/lib/modules/markdown-editor/components/markdown-previewer/markdown-previewer.component.ts
  libs/shared/src/lib/modules/markdown-editor/components/markdown-toolbar/components/markdown-toggler/markdown-toggler.component.html
  libs/shared/src/lib/modules/markdown-editor/components/markdown-toolbar/markdown-toolbar.component.html
  libs/shared/src/lib/modules/markdown-editor/directives/markdown-input.directive.ts
  libs/shared/src/lib/modules/markdown-editor/markdown-editor.component.html
  libs/shared/src/lib/modules/markdown-editor/markdown-editor.component.ts
  libs/shared/src/lib/modules/markdown-editor/states/markdown-input.state.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(code-review): add comments indicator folder
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/folder-node/folder-node.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/folder-node/folder-node.component.scss
  apps/code-review/src/app/pages/overview/components/file-explorer/components/folder-node/folder-node.component.ts
  apps/code-review/src/app/pages/overview/facades/dependencies.facade.ts
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/services/index.ts
  apps/code-review/src/app/pages/overview/services/review-request-comment-amount.service.ts
  apps/code-review/src/app/pages/overview/states/review-request-comments.state.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(cr): add comments in overview sidebar
  apps/code-review/src/app/pages/overview/components/sidebar/components/comments/comments.component.html
  apps/code-review/src/app/pages/overview/components/sidebar/components/comments/comments.component.scss
  apps/code-review/src/app/pages/overview/components/sidebar/components/comments/comments.component.ts
  apps/code-review/src/app/pages/overview/components/sidebar/components/comments/index.ts
  apps/code-review/src/app/pages/overview/components/sidebar/components/index.ts
  apps/code-review/src/app/pages/overview/components/sidebar/sidebar.component.html
  apps/code-review/src/app/pages/overview/components/sidebar/sidebar.module.ts
  apps/code-review/src/app/pages/overview/facades/dependencies.facade.ts
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/providers/index.ts
  apps/code-review/src/app/pages/overview/providers/opened-review-request.provider.ts
  apps/code-review/src/app/pages/overview/tokens/index.ts
  apps/code-review/src/app/pages/overview/tokens/opened-review-request-id.token.ts
  apps/code-review/src/app/shared/api/review-request-comments.api.ts
  apps/code-review/src/app/shared/interfaces/index.ts
  apps/code-review/src/app/shared/interfaces/review-request-comment.interface.ts
  apps/code-review/src/app/shared/services/review-request-comments.service.ts
  cspell.json
  libs/assets/src/lib/styles/mixins.scss
  libs/assets/src/lib/styles/mixins/display-flex.scss
  libs/shared/src/lib/modules/markdown-editor/components/markdown-previewer/markdown-previewer.component.html
  libs/shared/src/lib/modules/markdown-editor/components/markdown-previewer/markdown-previewer.component.scss
  libs/shared/src/lib/modules/markdown-editor/components/markdown-previewer/markdown-previewer.component.ts
  libs/shared/src/lib/modules/markdown-editor/index.ts
  libs/shared/src/lib/modules/markdown-editor/markdown-editor.component.html
  libs/shared/src/lib/modules/markdown-editor/markdown-editor.component.ts
  libs/shared/src/lib/modules/markdown-editor/markdown-editor.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(cr): remove markdown editor from list page
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/list/list.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor: change component tags to self-closed
  apps/code-review/src/app/pages/list/components/all-requests/all-requests.component.html
  apps/code-review/src/app/pages/list/components/historical-requests/historical-requests.component.html
  apps/code-review/src/app/pages/list/components/my-requests/my-requests.component.html
  apps/code-review/src/app/pages/list/components/review-request-card/review-request-card.component.html
  apps/code-review/src/app/pages/list/components/review-request-creation-button/review-request-creation-button.component.html
  apps/code-review/src/app/pages/list/list.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/components/entity-nodes/entity-nodes.component.html
  apps/code-review/src/app/pages/overview/components/file-explorer/file-explorer.component.html
  apps/code-review/src/app/pages/overview/components/header/header.component.html
  apps/code-review/src/app/pages/overview/components/header/review-request-details-accordion/review-request-details-accordion.component.html
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.html
  apps/code-review/src/app/pages/overview/components/sidebar/components/comments/comments.component.html
  apps/code-review/src/app/pages/overview/components/sidebar/sidebar.component.html
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/request/components/creation-button/creation-button.component.html
  apps/code-review/src/app/pages/request/request.component.html
  apps/host/src/app/app.component.html
  apps/host/src/app/pages/home/acua-home.component.html
  apps/host/src/app/pages/home/components/header/components/user-menu/user-menu.component.html
  apps/host/src/app/pages/home/components/header/header.component.html
Due: npx prettier **/*.html --write

feat(cr): review request content as markdown
  apps/code-review/src/app/pages/list/components/review-request-card/review-request-card.component.html
  apps/code-review/src/app/pages/list/components/review-request-card/review-request-card.component.scss
  apps/code-review/src/app/pages/list/list.module.ts
  apps/code-review/src/app/pages/overview/components/header/header.module.ts
  apps/code-review/src/app/pages/overview/components/header/review-request-details-accordion/review-request-details-accordion.component.html
  apps/code-review/src/app/pages/overview/components/header/review-request-details-accordion/review-request-details-accordion.component.scss
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.html
  apps/code-review/src/app/pages/overview/components/header/review-request-details-window/review-request-details-window.component.scss
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(code-review): add area for comment under a line which has comments
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.module.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/comments.module.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comment/comment.component.html
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comment/comment.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comment/comment.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comment/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comments-amount/comments-amount.component.html
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comments-amount/comments-amount.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comments-amount/comments-amount.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comments-amount/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/interfaces/comment-zone-id.interface.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/interfaces/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-comment.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-highlighter.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/models/comment-zone.model.ts
  apps/code-review/src/app/pages/overview/components/code-editor/models/index.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): decompose init zone logic
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-comment.directive.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): make comment zone appear for every line & changes to comments
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/comments.module.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comment-zone/comment-zone.component.html
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comment-zone/comment-zone.component.scss
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comment-zone/comment-zone.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comment-zone/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comment/comment.component.html
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comment/comment.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/comment/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/components/comments/components/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/line-comment.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/models/comment-zone.model.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: remove legacy file-tree constant data
  apps/code-review/src/app/pages/overview/data/file-tree.array.ts
  apps/code-review/src/app/pages/overview/data/index.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore: remove legacy file-tree type
  apps/code-review/src/app/pages/overview/components/file-explorer/types/file-tree.type.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/types/index.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor(code-review): refactoring by pr comments
  apps/code-review/src/app/pages/list/list.component.ts
  libs/shared/src/lib/modules/markdown/components/editor/editor.component.html
  libs/shared/src/lib/modules/markdown/components/editor/editor.component.scss
  libs/shared/src/lib/modules/markdown/components/editor/editor.component.ts
  libs/shared/src/lib/modules/markdown/components/editor/index.ts
  libs/shared/src/lib/modules/markdown/components/index.ts
  libs/shared/src/lib/modules/markdown/components/markdown-toolbar/components/index.ts
  libs/shared/src/lib/modules/markdown/components/markdown-toolbar/components/markdown-button/index.ts
  libs/shared/src/lib/modules/markdown/components/markdown-toolbar/components/markdown-toggler/index.ts
  libs/shared/src/lib/modules/markdown/components/previewer/index.ts
  libs/shared/src/lib/modules/markdown/components/previewer/markdown-previewer.component.scss
  libs/shared/src/lib/modules/markdown/components/previewer/markdown-previewer.component.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/classes/bold-button.class.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/classes/header-button.class.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/classes/index.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/classes/italic-button.class.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/components/button/button.component.html
  libs/shared/src/lib/modules/markdown/components/toolbar/components/button/button.component.scss
  libs/shared/src/lib/modules/markdown/components/toolbar/components/button/button.components.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/components/button/index.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/components/index.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/components/toggler/index.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/components/toggler/toggler.component.html
  libs/shared/src/lib/modules/markdown/components/toolbar/components/toggler/toggler.component.scss
  libs/shared/src/lib/modules/markdown/components/toolbar/components/toggler/toggler.component.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/data/index.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/data/markdown-data.array.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/index.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/interfaces/index.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/interfaces/markdown-button.interface.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/interfaces/markdown-syntax-sides.interface.ts
  libs/shared/src/lib/modules/markdown/components/toolbar/toolbar.component.html
  libs/shared/src/lib/modules/markdown/components/toolbar/toolbar.component.scss
  libs/shared/src/lib/modules/markdown/components/toolbar/toolbar.component.ts
  libs/shared/src/lib/modules/markdown/directives/markdown-input.directive.ts
  libs/shared/src/lib/modules/markdown/index.ts
  libs/shared/src/lib/modules/markdown/markdown.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.scss --write, stylelint --fix, npx prettier **/*.ts --write, eslint **/*.ts --fix

Delete list.component.ts
  apps/code-review/src/app/pages/list/list.component.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

chore(code-review): add list component
  apps/code-review/src/app/pages/list/list.component.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

feat(code-review): added preselect file by query
  apps/code-review/src/app/app.module.ts
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/folder-node/folder-node.component.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/services/index.ts
  apps/code-review/src/app/pages/overview/services/open-directory.service.ts
  apps/code-review/src/app/pages/overview/states/index.ts
  apps/code-review/src/app/pages/overview/states/open-directory.state.ts
  apps/code-review/src/app/shared/enums/monaco-tree-node-type.enum.ts
  apps/code-review/src/app/shared/interfaces/index.ts
  apps/code-review/src/app/shared/interfaces/open-directory.interface.ts
  apps/host/src/app/app.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

fix(code-review): fixed and refactored by pr comments
  apps/code-review/src/app/app.module.ts
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/folder-node/folder-node.component.ts
  apps/code-review/src/app/pages/overview/enums/index.ts
  apps/code-review/src/app/pages/overview/enums/overview-query-param.enum.ts
  apps/code-review/src/app/pages/overview/facades/index.ts
  apps/code-review/src/app/pages/overview/facades/initial-folders.facade.ts
  apps/code-review/src/app/pages/overview/overview.component.html
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/services/index.ts
  apps/code-review/src/app/pages/overview/services/initial-folders-opened.service.ts
  apps/code-review/src/app/pages/overview/services/open-directory.service.ts
  apps/code-review/src/app/pages/overview/states/index.ts
  apps/code-review/src/app/pages/overview/states/initial-folders-opened.state.ts
  apps/code-review/src/app/pages/overview/states/open-directory.state.ts
  apps/code-review/src/app/shared/interfaces/index.ts
  apps/code-review/src/app/shared/interfaces/open-directory.interface.ts
  apps/host/src/app/app.module.ts
Due: npx prettier **/*.html --write, npx prettier **/*.ts --write, eslint **/*.ts --fix

refactor: overview page
  apps/code-review/src/app/pages/overview/components/code-editor/code-editor.component.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/file-opener.directive.ts
  apps/code-review/src/app/pages/overview/components/code-editor/directives/index.ts
  apps/code-review/src/app/pages/overview/components/code-editor/services/editor.service.ts
  apps/code-review/src/app/pages/overview/components/code-editor/services/index.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/file-node/file-node.component.ts
  apps/code-review/src/app/pages/overview/components/file-explorer/components/folder-node/folder-node.component.ts
  apps/code-review/src/app/pages/overview/facades/dependencies.facade.ts
  apps/code-review/src/app/pages/overview/facades/index.ts
  apps/code-review/src/app/pages/overview/facades/initial-folders.facade.ts
  apps/code-review/src/app/pages/overview/overview.component.ts
  apps/code-review/src/app/pages/overview/providers/index.ts
  apps/code-review/src/app/pages/overview/providers/opened-review-request.provider.ts
  apps/code-review/src/app/pages/overview/providers/page-providers.array.ts
  apps/code-review/src/app/pages/overview/services/index.ts
  apps/code-review/src/app/pages/overview/services/initial-folders-opened.service.ts
  apps/code-review/src/app/pages/overview/services/project-entities-initialization.service.ts
  apps/code-review/src/app/pages/overview/states/monaco-theme-data.state.ts
Due: npx prettier **/*.ts --write, eslint **/*.ts --fix

fix: serve development command for host project
  apps/code-review/project.json
  apps/host/project.json
Due: none

fix: sourceMap value for production
  apps/code-review/project.json
  apps/host/project.json
Due: none

Path conditions:
  npx prettier **/*.html --write: any of: **/*.html
  npx prettier **/*.scss --write: any of: **/*.scss
  stylelint --fix: any of: **/*.scss
  npx prettier **/*.ts --write: any of: **/*.ts
  eslint **/*.ts --fix: any of: **/*.ts
